/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
.nrepl-port
.lein-repl-history
.lein-failures

*.class
*.iml
*/.lein-*
*/.nrepl-port
*/checkouts
*/classes
*/target/
.hg/
.hgignore
.idea/
.lsp/
/.eastwood
/.events.log
/pom.xml
checkouts
perf/.terraform*
perf/.terraform/**
perf/terraform*
pom.xml.asc
target/

